*.class
*.log
*.ctxt
*.jar
*.war
*.ear
doc/
/bin/
/out/
/target/

.vscode/

#.bluej/
#*.package
.metadata/
.classpath
.project
.settings/
.idea/
*.iml
*.iws

.DS_Store
Thumbs.db
Desktop.ini